@import "tailwindcss";

@theme {
  --color-background: white;
  --color-foreground: #0f172a;
  --color-primary: #4f46e5;
  --color-border: #e2e8f0;
}

:root {
  background: radial-gradient(circle at top left, #f8fafc, #f1f5f9, #e2e8f0);
  background-attachment: fixed;
  color: #0f172a;
}

body {
  background: radial-gradient(circle at top left, #f8fafc, #f1f5f9, #e2e8f0) !important;
  background-attachment: fixed !important;
  color: #0f172a !important;
  min-height: 100vh;
}